.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.4;
  background-color: transparent;
}

.scroll-to-top:hover {
}

.scroll-icon {
  width: 40px;
  height: 40px;
}
