.header {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  z-index: 1000;
}

.header-logo {
  width: 60px;
  height: auto;
}

.header-nav {
  width: 50px;
  height: 50px;
}

.header-nav-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 50ms;
}

.header-nav-button:active {
  transform: scale(0.9);
}

.menuHamburger {
  width: 50px;
  height: 50px;
}

/* menu pop up ------------- */

.menu-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-darkblue-transparent);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  color: var(--color-secondary);

  font-family: var(--font-family-main);
}

.menu-links {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu-links li {
  margin: 1.5rem 0;
}

.menu-links a {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: bold;
}

.fechar-menu {
  position: absolute;
  top: 100px;
  right: 40px;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
