:root {
  --color-primary: #2c4e98;
  --color-secondary: #fff;
  --color-tertiary: #2e2f36;
  --color-quaternary: #1f376d;
  --color-black-transparent: rgba(0, 0, 0, 0.5);

  --color-background: #e9eaf0;
}
