.servicoCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.servicoCard {
  background-color: var(--color-primary);
  width: 80%;
  height: 150px;
  padding: 20px 5%;
  margin-bottom: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: none;
  transition: 100ms;
  position: relative;
}

.servicoCard:hover {
  cursor: pointer;
}

.servicoCard:active {
  background-color: var(--color-quaternary);
}

.servicoCardImage {
  width: 100px;
  height: auto;
}

.servicoCardText {
  font-family: var(--font-family-main);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-normal);
  line-height: 1.1;

  color: var(--color-secondary);

  width: 60%;
  text-align: center;
  hyphens: none;
}

.openIcon {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  z-index: 2;
  opacity: 0.8;
}

.openIcon:hover {
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .servicoCardContainer {
    max-width: 40%;
  }

  .servicoCard {
    width: 100%;
  }

  .servicoContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
