.containerLivroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.textButtonLivroSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageLivroSection {
  width: 70%;
  height: auto;
  max-width: 300px;
}

.textLivroSection {
  width: 70%;
  max-width: 600px;
  height: auto;
  text-align: center;

  font-family: var(--font-family-main);
  font-weight: var(--font-weight-normal);
  color: var(--color-tertiary);

  margin: 20px 0;
}

@media (min-width: 768px) {
  .containerLivroSection {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0 5%;
  }

  .textButtonLivroSection {
    max-width: 500px;
  }
}
